<p>
  <i>We will be housing participants with on-campus hosts on a first-come first-serve basis. <%= link_to "Register", eventbrite %> today to 
  reserve your place using the "Register" button above. Because of the limited number of hosts, we can not guarantee on-campus housing for all participants. If you 
  are able to stay at a hotel, we encourage you do so in order to allow for as many people to attend as possible.</i><br><br>
  
  <span>New Haven Hotel (229 George Street)</span><br>
  Call to make reservations at 203-498-3100 and mention the National Dominican Student Conference and to get a discount rate of $129 per 
  night or sign up online below:<br><br>
  
  Attendee Code: DOMINICAN<br>
  Group Code: DOMINICAN<br><br>
  
  <%= link_to "https://reservations.ihotelier.com/crs/g_login.cfm?hotelID=17714" %><br><br>

  <span>Omni Hotel (155 Temple Street)</span><br>
  Call at 203-772-6664 and mention the National Dominican Student Conference to get a discount rate of $129 per night.<br><br>
  
  <span>Courtyard  Marriott at Yale (30 Whalley Avenue)</span><br>
  (800) 321-2211, (203) 777-6221<br>
  <%= link_to "http://www.courtyardmarriottyale.com", :target => "_blank" %><br><br>
  
  <span>Duncan Hotel (1151 Chapel Street)</span><br>
  (203) 787-1273<br><br>
  
  <strong><i>For guests with a car, there are several options nearby:</i></strong><br>
  
  <span>Econo Lodge (100 Pond Lily Ave.)</span><br>
  Near exit 59 on the Merrit Parkway (Rt 15).<br>
  (203) 387-6651, $57 and up<br><br>
  
  <span>The Days Inn in Hamden (3400 Whitney Avenue, Hamden)</span><br>
  Located in Hamden, CT - driving distance to campus.<br>
  (203) 288-2505, $68-120<br><br>
  
  <span>La Quinta (400 Sargent Drive)</span><br>
  Although it is less than 2 miles from campus, it is on the highway so you will need a car if you choose to stay here.<br>
  (203) 562-1111,  $109-129<br>
  <a href="http://www.lq.com" target="_blank">www.lq.com</a><br><br>

  For more choices, best prices, maps, photos and reservations, we suggest you consult a hotel search engine such as
  <a href="http://www.kayak.com" target="_blank">kayak.com</a>, <a href="http://www.sidestep.com" target="_blank">sidestep.com</a> or <a href="http://www.orbitz.com" target="_blank">orbitz.com</a>.<br><br>
  
  You can also visit the <a href="http://www.yale.edu/visitor/lodging.html" target="_blank">Yale University Visitor Center Website</a>
</p>
