<p>
  <strong>NDSC is an annual conference that brings together Dominican college students and alumni from throughout the United States.</strong><br><br>

  Each year the NDSC Board undergoes a <%= link_to "selection process", host_path %> in which it accepts bids from potential host 
  schools and chooses where the next NDSC will be.<br><br>

  <span>History</span><br> 
  The idea of a national conference was first proposed in 2007, at a <strong>Dominican Student Association - 
  QuisqueYalies</strong> meeting by <strong>Jamil Abreu '08</strong>.<br><br>
  
  He observed one of the most significant issues in the community to be the lack of awareness of and communication between 
  collegiate and community-based Dominican groups who, despite sharing similar interests and existing in the same general area, 
  continued to operate independently of each other.<br><br>
  
  The group adopted the proposal, with the following individuals making up the conference planning committee:<br><br>

· <strong>Jamil Abreu</strong> '08 (Co-Chair)<br>
· <strong>Lariely Garcia</strong> '09 (Co-Chair)<br>
· <strong>Damien Abreu</strong> '10<br>
· <strong>Ruben Harris</strong> '08<br>
· <strong>Jose Abreu</strong> '09<br>
· <strong>Brian Marmolejos</strong> '08<br>
· <strong>Mariel Novas</strong> '10<br>
· <strong>Nicolle Quintero</strong> '07<br>
· <strong>Joel Vargas</strong> '08<br>
· <strong>Prof. James Vreeland</strong><br><br>

  <span>Purpose</span><br>
  1) <strong>unite</strong> the numerous undergraduate and graduate Dominican student communities currently dispersed throughout the United States,
  with the goal of addressing and organizing them more effectively against the social and academic issues that continue to afflict 
  them.<br><br>
  2) serve as an opportunity for the community to collectively <strong>celebrate</strong> the rich Dominican heritage that its members share and 
  continue to keep alive in their respective college communities.<br><br>

  <span>Objective</span><br>
  The conference's key objective is the building of <strong>social and academic support networks</strong> among participants, particularly among those 
  living in adjacent cities/regions.<br><br>

  It believes that increasing <strong>collaboration</strong> between Dominican student groups and community organizations will help create a more 
  comfortable, more familiar environment for Dominican students - and thus positively affecting the waning rates of retention and 
  graduation from which the community suffers.<br><br>

  Also, the sponsoring of this kind of networking will lead to each participant gaining a greater <strong>understanding</strong> of his own community, 
  as well as foster a heightened desire to take socially significant action against the issues highlighted throughout the 
  Conference.<br><br>

  <span>Board</span><br> 
</p>