<p>
<i>Tentative Workshops</i><br><br>

<span id="workshop">Dominicano: De Pura Cepa and Otherwise</span><br>
<span id="workshop">“Ye Olde Negocio Dominicano”: Bodegas, Salónes de Belleza y Restaurantes in the U.S.</span><br>
<span id="workshop">LGBTQ and Dominican</span><br>
<span id="workshop">Hispaniola Divided: Dominican-Haitian Relations</span><br>
<span id="workshop">Stealing Second Base: Baseball in the Dominican Republic</span><br>
<span id="workshop">Maria Se Fué… Y Regresa: Immigration & Deportation</span><br><br>

<span>"Dominicano: De Pura Cepa and Otherwise"</span><br>
  Understanding the deep-rooted feelings associated with Dominican identity is a difficult pursuit, delving into a controversial 
  history of political turmoil, the acknowledgement of continued racism, and the superficial stereotypes associated with Dominicans. 
  To open this workshop, participants will be asked to fill out a mock census before sharing their opinions concerning the separate 
  race and ethnicity categories on the census form. This will introduce a conversation concerning whether Dominicans fit into a 
  “black” or “white” label, considering the mixed European and African influence of the Dominican Republic and the white 
  idealization presented in such themes as “mejorando la raza.” Other possible topics include the perceived differences between 
  those born in the Dominican Republic and first-generation Americans, and delving into the subject of language and Dominican slang.<br><br>
  
  This workshop would serve as the traditional “mandatory first workshop” on Dominican identity and will feature break-out 
  sessions to consider the aforementioned topics in further detail in an effort to move away from a lecture-style presentation 
  towards more personal dialogue among participants, and between panelists and attendants.<br><br>

<span>“Ye Olde Negocio Dominicano”: Bodegas, Salónes de Belleza y Restaurantes in the U.S.</span><br>
  In the United States, the Dominican entrepreneurial spirit and work ethic manifests itself in the ubiquity of convenience stores, 
  beauty salons, and restaurants. When passing through any urban city in the Northeast, especially New York City, one is bound to 
  come across one of these bodegas, salónes de belleza, or restaurantes Dominicanos. Bodegas, with their familiar atmosphere, are 
  known to have what you want, when you want it. Dominican hair salons are renowned for the cosmetic miracles they perform. 
  Dominican restaurants offer the most delectable delicacies on their menus. These establishments not only provide services enjoyed 
  by people of diverse backgrounds, but they also highlight the Dominican presence in the U.S.<br><br>
  
  Accordingly, the workshop will begin by asking participants to imagine that their community had none of these Dominican-owned 
  businesses and to write down how their lives would be different. Subsequently, there will be an open discussion about the role 
  that these small businesses play in Dominican-American culture. The panel will feature contributions from the experiences of the 
  panelists, who will bring to light some of the difficulties that Dominican small business owners face in establishing, running, 
  and maintaining their enterprises afloat in the current economic climate.<br><br>

<span>LGBTQ and Dominican</span><br>
  Discrimination against the LGBTQ community is on the advent of institutionalization with the imminent ratification of the newest 
  constitution banning same-sex marriage. At the interpersonal level, these communities are often discriminated against through 
  the perpetuation of prejudiced views promoted by traditional beliefs of sexuality and vamped machismo in Latin America. Topics 
  covered will not only be restricted to a conversation based within the Dominican Republic, but will also feature the importance 
  of the Dominican activism in the United States. This panel seeks to first and foremost disseminate facts and to additionally 
  promote thoughtful discourse in an effort to disband the stereotypes and taboos often present in such a conversation.<br><br>

<span>Hispaniola Divided: Dominican-Haitian Relations</span><br>
  Although a signatory to the American Convention of Human Rights of 1969 which states, “the collective (mass) expulsion of 
  foreigners is prohibited,” the government of the Dominican Republic continues to deport thousands of Haitians. In June 2005, 
  an astonishing 3,000 Haitians were deported from the Dominican Republic in just three days. The tension between the two countries 
  dates back to the nineteenth century when Haiti continually invaded and occupied the Dominican Republic. Although very against the 
  idea of an incorporation of Haitians into the Dominican lifestyle, the Dominican Republic depended on Haitian labor. While 
  thousands of Haitians are brought into the country as workers for sugar cane fields with the expectation of being sent back to 
  Haiti with the end of the season, many remain behind for an opportunity at a better life. These Haitians and their offspring 
  often endure horrible living conditions in bateys and struggle of finding work, and at times live in limbo with neither being a 
  citizen of Haiti nor accepted as a citizen in the eyes of the government of the Dominican Republic. Since the recent earthquake 
  in Haiti, relations seem to have improved as many relief efforts arrived in Haiti from its Dominican neighbors in the form of aid 
  for health, water, electricity, infrastructure and the assistance of the military as designed by Dominican President Leonel 
  Fernández. Is it possible that these countries are capable of overcoming ancestral quarrels that took place centuries ago or is 
  the damage done too embedded in the cultural, social, and economical identity of the two countries?<br><br>

<span>Stealing Second Base: Baseball in the Dominican Republic</span><br>
  For decades we as a community have ignored the illegal and underground businesses that have exploited the Dominican people. 
  Young boys are encouraged to drop out of school and pursue a counterfeit dream of one day becoming a baseball legend. The panel 
  will be moderated by a member of the Dominican Student Association and conducted in a conversational manner.<br><br>

<span>Maria Se Fué… Y Regresa: Immigration & Deportation</span><br>
  Each year, an average of 24,900 Dominicans immigrate to the United States. In 2010, a projected 941,000 Dominicans will become 
  legal immigrants, making up 2.3% of the US population. Shockingly enough, since 1996 almost 40,000 Dominicans have been deported 
  as of November 2009. An average of 200 to 300 Dominicans are deported from the United States per month, many of which are denied 
  the chance to plea for lenience even in exceptional circumstances. Immigration and deportation has been a topic of interest in 
  the United States and most prominently, within the Hispanic/Latino community. The American dream has become more like an 
  American nightmare as stricter laws and more militant force is used to deter immigration with every passing year. This issue is 
  affecting and will continue to affect the Dominican community and the larger Latino community. With the current buzz surrounding 
  the Arizona Law SB 170, immigration and its effect on the Dominican community is a topic worth addressing. What are the 
  weaknesses and are there any benefits of the United States’ immigration/deportation policies?<br><br> 
</p>