<p>
  <span id="agendatitle">Friday, April 6, 2012</span><br>
  <span id="agendabody">
	3–9PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Registration (Third World Center)<br>
  6–7PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Networking w/ Alumni, Students and Staff (Sayles Hall)<br>
  7-10PM&nbsp;&nbsp;&nbsp;Ice Breakers & Screening of "Sugar" (Salomon 001)<br><br>
	</span>

  <span id="agendatitle">Saturday, April 7, 2012</span><br>
	<span id="agendabody">
  8–10AM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Registration & Breakfast (Sayles Hall)<br>
  10–10:30AM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome Address (Salomon 001)<br>
  10:30–12:30PM&nbsp;&nbsp;"El Movimiento Amarillo: Our Community, Our &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Education" (Salomon 001)<br>
  12:30–2PM&nbsp;&nbsp;&nbsp;&nbsp;Lunch and Networking (Multipurpose Room &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[Campus Center] and Brown Bookstore)<br>
  2 – 3:15PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Workshop Session II:<br>
	</span>
	<span id="agendasub">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Con Merengue y Con Bachata: An&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;International Spread (MacMillan 117)<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Dios, Patria y Libertad: Communities&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Divided (Barus and Holley 166)<br>
	</span>
  <span id="agendabody">
	3:30 – 5PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Special Event: Dominicans in Politics – <i>An Open &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Panel to Brown and RI Community</i> (Salomon 101)<br>
	5 – 6:15PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Workshop Session III:<br>
	</span> 
	<span id="agendasub">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Dominican Entrepreneurship: Beyond the &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bodega (MacMillan 117)<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. An “Accent” on Identity - Language&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Discrimination (Barus and Holley 166)<br>
	</span>
  <span id="agendabody">
  7 – 8:45PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dinner Event (Andrews Hall)<br>
  9 – 9:45PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Keynote Address (Salomon 101)<br>
  10:30 – 2AM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Party (Andrews Hall)<br><br>
	</span>

  <span id="agendatitle">Sunday, April 8, 2012</span><br>
	<span id="agendabody">
  10 – 12PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mangú Breakfast	<br>
  12PM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Closing Remarks<br><br>
	</span>
<!--
<i>----------------------------------------------------</i><br>
<span>featuring:</span><br>
<strong>Pedro Martinez</strong> (Renowned Major League Baseball Player)<br><br>
<strong>Carolina Martinez</strong> (Director, Hay Poder en Aprender - wife of Pedro Martinez)<br><br>
<strong>Julissa Reynoso</strong> (Deputy Assistant Secretary for Central American and
Caribbean Affairs, US Department of State)<br><br>
<strong>Silvio Torres-Saillant</strong> (Associate Professor, Director of Syracuse’s
Latino-Latin American Studies Program)<br><br>
<strong>Nestor Montilla</strong> (Former President of DANR, Director of Public
Relations at Hostos Community College)<br><br>
<strong>Raquel Cepeda</strong> (Award-winning Journalist and Documentary Filmmaker)<br><br>
<strong>Francisco Lazala</strong> (Founder of the Gay and Lesbian Dominican Empowerment
Organization [GALDE])<br><br>
<strong>Denise Brennan</strong> (Author of "What’s Love Got To Do With It:
Transnational Desires and Sex Tourism in the Dominican Republic")<br><br>
<strong>Sandy Placido</strong> (Co-founder of Yale’s Dominican Student Association,
Organizer for the Northern Manhattan Coalition for Immigrant Rights,
Harvard Ph.D Candidate)<br><br>
<strong>Dan-el Padilla</strong> (2006 Latin Salutatorian of Princeton University, his
immigration story inspired the Dream Act)<br><br>

...among others!<br><br>
<i>----------------------------------------------------</i><br><br>

<span>"Dominicano: De Pura Cepa and Otherwise"</span><br>
  Understanding the deep-rooted feelings associated with Dominican identity is a difficult pursuit, delving into a controversial 
  history of political turmoil, the acknowledgement of continued racism, and the superficial stereotypes associated with Dominicans. 
  To open this workshop, participants will be asked to fill out a mock census before sharing their opinions concerning the separate 
  race and ethnicity categories on the census form. This will introduce a conversation concerning whether Dominicans fit into a 
  “black” or “white” label, considering the mixed European and African influence of the Dominican Republic and the white 
  idealization presented in such themes as “mejorando la raza.” Other possible topics include the perceived differences between 
  those born in the Dominican Republic and first-generation Americans, and delving into the subject of language and Dominican slang.<br><br>
  
  This workshop would serve as the traditional “mandatory first workshop” on Dominican identity and will feature break-out 
  sessions to consider the aforementioned topics in further detail in an effort to move away from a lecture-style presentation 
  towards more personal dialogue among participants, and between panelists and attendants.<br><br>

<span>Gift or Curse: Dominican Talent and Major League Baseball</span><br>
  Today Dominican players create the largest group of foreign born players at Major League Baseball's professional level, representing 35% 
  of foreign born players. Names like David Ortiz and Robinson Cano have become household American names, but there are thousands of untold 
  stories that get lost on the way to what the MLB calls "the show." This panel will begin with a short trailer from Joseph Coburn's 
  documentary about baseball in the Dominican Republic. The trailer quickly explores all of the areas that will be addressed throughout 
  the panel: the hopes and desires of Dominican Baseball players, the intense competition, the dangerous shortcuts that are taken, and the 
  success that is achieved. Following the trailer, a Q+A session will begin to spark the discussion among the panelists, who each have 
  different views on the topic to share, and the participants.<br><br>

<span>Visa del Cuerpo: Sex Tourism in the Dominican Republic</span><br>
  For decades we as a community have ignored the illegal and underground business that have exploited the Dominican people. Very often 
  women, due to circumstances and the deception of the tourist economy, are forced to seek the illusions of “love” in foreign men. The 
  workshop will open up with a spoken word performance by DSA member, Lusdymer Pichardo titled “La Exotica”, which touches on the perception 
  of Dominican sex workers as “exotic beings” and the problem these sexual relationships bring to these Dominican women. The panel will 
  be moderated by a member of the Dominican Student Association and conducted in a conversational manner<br><br>

<span>Identidad Sexual & Dominicanidad</span><br>
  Discrimination against the LGBTQ community is on the advent of institutionalization with the imminent ratification of the newest 
  constitution banning same-sex marriage. At the interpersonal level, these communities are often discriminated against through 
  the perpetuation of prejudiced views promoted by traditional beliefs of sexuality and vamped machismo in Latin America. Topics 
  covered will not only be restricted to a conversation based within the Dominican Republic, but will also feature the importance 
  of the Dominican activism in the United States. This panel seeks to first and foremost disseminate facts and to additionally 
  promote thoughtful discourse in an effort to disband the stereotypes and taboos often present in such a conversation.<br><br>

<span>Hispaniola Divided: Dominican-Haitian Relations</span><br>
  Although a signatory to the American Convention of Human Rights of 1969 which states, “the collective (mass) expulsion of 
  foreigners is prohibited,” the government of the Dominican Republic continues to deport thousands of Haitians. In June 2005, 
  an astonishing 3,000 Haitians were deported from the Dominican Republic in just three days. The tension between the two countries 
  dates back to the nineteenth century when Haiti continually invaded and occupied the Dominican Republic. Although very against the 
  idea of an incorporation of Haitians into the Dominican lifestyle, the Dominican Republic depended on Haitian labor. While 
  thousands of Haitians are brought into the country as workers for sugar cane fields with the expectation of being sent back to 
  Haiti with the end of the season, many remain behind for an opportunity at a better life. These Haitians and their offspring 
  often endure horrible living conditions in bateys and struggle of finding work, and at times live in limbo with neither being a 
  citizen of Haiti nor accepted as a citizen in the eyes of the government of the Dominican Republic. Since the recent earthquake 
  in Haiti, relations seem to have improved as many relief efforts arrived in Haiti from its Dominican neighbors in the form of aid 
  for health, water, electricity, infrastructure and the assistance of the military as designed by Dominican President Leonel 
  Fernández. Is it possible that these countries are capable of overcoming ancestral quarrels that took place centuries ago or is 
  the damage done too embedded in the cultural, social, and economical identity of the two countries?<br><br>

<span>Maria Se Fué… Y Regresa: Immigration & Deportation</span><br>
  Each year, an average of 24,900 Dominicans immigrate to the United States. In 2010, a projected 941,000 Dominicans will become 
  legal immigrants, making up 2.3% of the US population. Shockingly enough, since 1996 almost 40,000 Dominicans have been deported 
  as of November 2009. An average of 200 to 300 Dominicans are deported from the United States per month, many of which are denied 
  the chance to plea for lenience even in exceptional circumstances. Immigration and deportation has been a topic of interest in 
  the United States and most prominently, within the Hispanic/Latino community. The American dream has become more like an 
  American nightmare as stricter laws and more militant force is used to deter immigration with every passing year. This issue is 
  affecting and will continue to affect the Dominican community and the larger Latino community. With the current buzz surrounding 
  the Arizona Law SB 170, immigration and its effect on the Dominican community is a topic worth addressing. What are the 
  weaknesses and are there any benefits of the United States’ immigration/deportation policies?<br><br> 
</p>
-->







