<p>For all 2011 inquiries, please contact: 
<%= mail_to "lusdymer.pichardo@yale.edu", "Lusdymer Pichardo" %> or <%= mail_to "brandon.alfred@yale.edu", "Brandon Alfred" %><br><br>
For general inquiries, please contact the NDSC Board:<br>
<%= mail_to "info@dominicanstudentconference.com", "info@dominicanstudentconference.com" %>
</p>