<p>
  <i>If your organization would like to host the NDSC, please send a proposal with the following 
  information by June 1st to <%= mail_to "info@dominicanstudentconference.com" %>:</i>


    <li>Organization name, history, and mission statement</li>
    <li>Conference Chair(s) - names and emails</li>
    <li>E-board names and emails</li>
    <li>Number of active members</li>
    <li>Description of previous events you are most proud of</li>
    <li>Conference dates (in April, NOT Easter weekend)</li>
    <li>Description of campus, transportation, and housing</li>
    <li>Description of classrooms to be used + capacity of your campus' biggest lecture hall (make sure it is available for dates 
    you want)</li>
    <li>Preliminary agenda for entire conference</li>
    <li>Description of potential workshops and speakers as outlined in agenda</li>
    <li>Preliminary budget (research and include any restrictions your school may have on ticket sales and outside sponsorship)</li>

  <p>
    <span>Tips</span><br> 
    In general, we will be looking for the teams that best show that they:<br><br>
    1) <i>hold themselves to the highest standards of event quality, and excel in all aspects of professionalism</i><br>
    2) <i>can promote the event properly</i><br>
    3) <i>can keep conference goers interested and engaged throughout the day.</i><br>
    4) <i>Strike a balance between workshops and networking - emphasize the mingling of people from different schools, regions, etc.</i><br>
    5) <i>Be creative, think BIG. Good Luck!</i>
</p>
