<p>Saludos! Welcome to the National Dominican Student Conference family. This year's event will be taking place at <%= link_to "Brown University", "http://brown.edu", :target => "_blank" %> (Providence, RI) in April 2012 - hosted by <b>Dominican Students at Brown</b>.<br><br>
For more information on this year's event, contact <%= mail_to "jose_rodriguez@brown.edu", "Jose Rodriguez" %> or <%= mail_to "erika_lopez_garcia@brown.edu", "Erika Garcia" %><br><br>

<i>Each year, NDSC strives to bring you the highest quality of educational and empowering workshops, prominent and inspirational speakers, culturally influential movie screenings, art exhibitions, networking events, and parties – all of which serve to <b>educate</b>, <b>uplift</b>, and <b>unite</b> the Dominican college student community.</i><br><br>
Interested in hosting the Conference next year? <%= link_to "You can!", host_path %> We look forward to seeing all of you again in 2012 for yet another memorable conference!<br><br>
~ NDSC</p>
