<p>

  <span>Videos</span><br><br>
  <object width="425" height="306">
    <param value="http://holamun2.com/ext/v/6345" name="movie">
    <param value="transparent" name="wmode">
    <embed width="370" height="266" wmode="transparent" type="application/x-shockwave-flash" src="http://holamun2.com/ext/v/6345">
  </object>
  <iframe src="http://player.vimeo.com/video/10235212" width="370" height="276" frameborder="0"></iframe><br><br>
  
  <span>Photos</span><br><br>
  <object width="370" height="370" data="http://www.flickr.com/slideShow/index.gne?group_id=&amp;user_id=9079568@N05&amp;set_id=72157600403046951&amp;text=" type="text/html"></object><br><br>
  
  <span>Articles</span><br><br>
  <%= link_to "Dominican Student Conference at CCNY Inspires New Generation of Leaders", "http://findarticles.com/p/articles/mi_hb3184/is_20090907/ai_n35658258/" %><br><br>
  <%= link_to "National Dominican Student Conference", "http://www.umass.edu/multiculturalaffairs/newsevents/ndsc/" %> By Manuel Aquiles Lopez (UMass)<br><br>
  <%= link_to "First national Dominican conference kicks off", "http://www.yaledailynews.com/news/university-news/2007/04/27/first-national-dominican-conference-kicks-off/" %> (Yale Daily News)<br><br> 
  <%= link_to "CUNY: Dominican Student Conference 2009", "http://deezshirts.com/home/?p=141" %> (Deezshirts.com)<br><br>
</p>